<nav> 
    <div class="div">
        <a id="button1" href="pynta.html"> <div class="p">pynta</div></a>
     <a id ="button2" href="index.html"> <div class="p">Hem</div></a>
    </div>
</nav> 

<main>
    <div class="content">
        <a class="bild"><img src="img/julkulor/julkula1,2.0.jpg"><p>Normal 100kr</p></a>
        <a class="bild"><img src="img/julkulor/julkula2,2.0.jpg"><p>Fancy 150kr</p></a>
        <a class="bild"><img src="img/julkulor/julkula3,2.0.jpg"><p>Röd 75kr</p></a>
        <a class="bild"><img src="img/julkulor/julkula4,2.0.jpg"><p>Glas 100kr</p></a>
        <a class="bild"><img src="img/julkulor/julkula5,2.0.jpg"><p>Party 200kr</p></a>
        <a class="bild"><img src="img/julkulor/julkula6,2.0.jpg"><p>Tre st 300</p></a>
      
    </div>


</main>
