<nav> 
    <div class="div">
        <a id="button" href="pynta.html"> <div class="p">PYNTA</div></a>        
        <a id="button" href="buy.html"> <div class="p">BUY</div></a>
    </div>
</nav>
<main>
    <img id="picture" src="img/tree.jpg"/>

    <main>
    <div class="box">
        <p>
                Julpynt är de dekorationer som människor dekorerar hus och hem med i juletider. Ofta består julpynt av julgran, adventsljusstakar, adventsstjärna, prydnadstomtar, julbockar, julgardiner, ljusslinga, julkrubba och förr i tiden även av små handgjorda skulpturer.
        </p>
    </div>

    </main>
</main>
