<nav> 
    <div class="div">
        <a id="button1" href="index.html"> <div class="p">HEM</div></a>
        <a id="button2" href="buy.html"> <div class="p">BUY</div></a>
        
    </div>
</nav>
<main>
        <img id="picture1" src="img/jultree.jpeg"/>
        <!-- <img id="picture2" src="img/pyntatjarna_2.0.jpg" > -->

        <a href="pyntatwo.html">
            <img id="picture2" src="img/pyntatjarna_3.0.png" style="width:100px;height:100px;border:0;"> 
        </a>
       
        <div class="textpynta"><h4>Lägg mig rätt</h4></div>
</main>
