<nav> 
    <div class="div">
        <a id="button1" href="index.html"> <div class="p">HEM</div></a>
        <a id="button2" href="buy.html"> <div class="p">BUY</div></a>
        
    </div>
</nav>
<main>
        <img id="picture1" src="img/jultree.jpeg"/>
        <img id="picture3" src="img/pyntatjarna_3.0.png" >
</main>