<nav> 
    <div class="div">
        <a id="button" href="index.html"> <div class="p">HEM</div></a>
        <a id="button" href="buy.html"> <div class="p">BUY</div></a>
       
    </div>
</nav>
<main>
    
</main>